* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 12px;
    padding: 4em 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background: #333;
}

.formHolder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
}

.formHolder label {
    color: #fff;
}

h1 {
    float: left;
    margin: 0.5em;
}

.confirmations-toggle-holder {
    float: right;
    margin: 1em;
}

h2 {
    font-size: 1.2em;
    width: 100%;
    float: left;
    clear: both;
    border-bottom: 1px solid #222;
    border-left: 1px solid #222;
    padding-left: 0.5em;
    box-sizing: border-box;
}

h3 {
    font-size: 1em;
}

form {
    padding: 1em;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="url"] {
    border: 1px solid black;
}

.vot-input {
    float: left;
}

.formHolder form {
    width: 100%;
}

.enviar-butlleta-button {
    float: right;
}

.donesHolder, .homesHolder {
    width: 50%;
    float: left;
}

.llistaHolder, .votsHolder {
    padding: 1em;
}

.voteList {
    height: 11em;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

    .voteList li {
        display: inline-block; /*necessary*/
        width: auto;
        background: #eee;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

        .voteList li.disabled, .voteList li.limit {
            opacity: 0.7;
            cursor: auto;
        }

        .votsHolder .voteList li.disabled {
            cursor: auto;
        }

        .voteList li span {
            border-right: 1px solid black;
            float: left;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .voteList li .id {
            width: 2em;
            text-align: right;
        }

        .voteList li .cognoms {
            width: 10em;
            overflow: hidden;
        }

        .voteList li .cognoms {
            width: 9em;
            overflow: hidden;
        }

        .voteList li .nom {
            width: 10em;
            overflow: hidden;
        }

        .voteList li .vots {
            width: 2em;
            overflow: hidden;
        }

.errors {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    z-index: 1;
}

    .error {
        background: #c22;
        opacity: 0.8;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        border: 1px solid #F00;
        padding: 1em;
        margin: 1em;
        cursor: pointer;
        border-radius: 1em;
    }
